{% extends "main/layout.html" %}
{% block CSS %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/about.css')}}">
{% endblock %}
{% block TITLE %}About | MHS Computer Club{% endblock %}
    {% block HEADER %}
        {{super()}}
        <div class="view jarallax about-header" data-jarallax='{"speed": 0.2}' style="background-image: url('{{url_for('.static', filename='img/Graphics.jpg')}}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 mb-4 white-text text-center wow fadeInUp">
                            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>About us</strong></h1>
                            <hr class="hr-light my-4  w-25 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Determined to spread the appreciation, power, and knowledge of computer science</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block MAIN %}
        <main>
            <section id="us" class="my-5 py-5 wow fadeInUp">
                <div class="container text-center">
                    <div class="divider-new">
                        <h3 class="text-center text-uppercase font-weight-bold mx-3 text-noto">we are</h3>
                    </div>
                    <h5 class="h5-responsive text-mont mx-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere repellat, perferendis mollitia expedita veniam soluta placeat aspernatur blanditiis. Voluptate incidunt eos esse sed amet ipsum aperiam ipsa dolorem autem aliquid?</h5>
                </div>
            </section>
            <div class="row mb-5">
                <div class="col-md-12">
                    <div class="card card-image" style="background-image: url('img/hardware.jpg');">
                        <div class="text-white text-center rgba-black-strong py-5 px-4">
                            <div class="py-5">
                                <h1 class="card-title pt-3 mb-5 font-bold display-4 text-uppercase">" Creative is a key "</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section id="goal" class="my-5 py-5">
                <div class="container text-center">
                    <div class="divider-new">
                        <h3 class="text-center text-uppercase font-weight-bold mx-3 text-noto">Our goal</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h5 class="h5-responsive text-mont mx-4">At Computer Club, there’s nothing stopping you from creating anything you want but your own attitude. If you’re determined to make something happen and put the dedication into it, then you can make anything.</h5>
                        </div>
                        <div class="col-md-4 d-sm-block d-none">
                            <img src="{{url_for('.static', filename='img/cyber.png')}}" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section id="meet-officers" class="my-5 py-5">
                <div class="container text-center">
                    <div class="divider-new">
                        <h3 class="text-center text-uppercase font-weight-bold mr-3 ml-3 wow fadeIn text-noto" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">meet officers</h3>
                    </div>
                    {% if data %}
                        <div class="row text-center mb-5 justify-content-center" id="officers-container">
                            {% for item in data['items'] %}
                            <div class="col-md-3 col-sm-6 mb-md-0 mb-5 mr-5">
                                <div class="avatar mx-auto">
                                    <img src="{{url_for('content.send_image', image_url=item['_links']['image'])}}" style="width:255px !important; height: 255px !important" alt="{{item['first_name']}}">
                                </div>
                                <h4 class="font-weight-bold dark-grey-text my-4">{{item['first_name'] ~ ' ' ~ item['last_name']}}</h4>
                                <h6 class="text-uppercase grey-text mb-3"><strong>{{item['role']}}</strong></h6>
                            </div>
                            {% endfor %}
                        </div>
                        {% if data['_links']['next'] %}
                        <a href="#!" data-next="{{data['_links']['next']}}" id="load-more" type="button" class=" btn btn-outline-mhs-dark btn-md text-uppercase">load more</a>
                        {% endif %}
                    {% endif %}
                </div>
            </section>
        </main>
    {% endblock %}
{% block JS %}
    {{super()}}
    <script src="{{url_for('.static', filename='js/about.js')}}"></script>
    <script>
        $(document).ready(function() {
            'use strict';
            new WOW().init();
            $('.animsition').animsition();
            var csrf_token = "{{ csrf_token() }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        });
    </script>
{% endblock %}