{% extends "admin/layout.html" %}
{% block title %}Hardware's Dashboard{% endblock %}
{% block loc %}Hardware{% endblock %}
{% block body %}
    <!-- Analysis -->
    <div class="row">
        <div class="col-md-4">
            <div class="card m-t-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="peity_line_neutral left text-center m-t-10"><span><span style="display: none;">10,15,8,14,13,10,10</span>
                            <canvas width="50" height="24"></canvas>
                            </span> <i class="mdi mdi-arrow-up-bold text-success "></i>
                            <h6>20%</h6>
                        </div>
                    </div>
                    <div class="col-md-6 border-left text-center p-t-10">
                        <h3 class="mb-0 font-weight-bold">150</h3>
                        <span class="text-muted">Total Blogs</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-t-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="peity_line_neutral left text-center m-t-10"><span><span style="display: none;">10,15,8,14,13,10,10</span>
                            <canvas width="50" height="24"></canvas>
                            </span> <i class="mdi mdi-arrow-up-bold text-success "></i>
                            <h6>20%</h6>
                        </div>
                    </div>
                    <div class="col-md-6 border-left text-center p-t-10">
                        <h3 class="mb-0 font-weight-bold">15</h3>
                        <span class="text-muted">Total Events</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card m-t-0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="peity_bar_bad left text-center m-t-10"><span><span style="display: none;">3,5,6,16,8,10,6</span>
                            <canvas width="50" height="24"></canvas>
                            </span>
                            <h6>-40%</h6></div>
                    </div>
                    <div class="col-md-6 border-left text-center p-t-10">
                        <h3 class="mb-0 font-weight-bold">5</h3>
                        <span class="text-muted">Total Members</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOG POSTS -->
    <div class="card">
        <div class="card-body">
            <h4 class="card-title m-b-0">Posts <a class="btn btn-outline-primary float-right" href="#!"><i class="mdi mdi-plus"></i> add</a></h4>
            
        </div>
        <div class="comment-widgets scrollable" style="height:500px">
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row m-t-0">
                <div class="p-2"><img src="https://c8.alamy.com/comp/DPHFM7/cracked-encryption-digital-safety-concept-illustration-cracked-lock-DPHFM7.jpg" alt="user" width="50" class="rounded-circle"></div>
                <div class="comment-text w-100">
                    <h6 class="font-medium">How to crack simple password</h6>
                    <span class="m-b-15 d-block ">Learn how to crack password with simple techniques that could help you to acknowledge your password security. </span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">April 14, 2018 by <a href="#">Will Duggan</a></span> 
                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
                <div class="p-2"><img src="https://is3-ssl.mzstatic.com/image/thumb/Purple118/v4/37/9a/b3/379ab34c-7858-0a21-9c99-529a3a423d3a/AppIcon-1x_U007emarketing-85-220-0-6.png/246x0w.jpg" alt="user" width="50" class="rounded-circle"></div>
                <div class="comment-text active w-100">
                    <h6 class="font-medium">How to spying on someone undetectable</h6>
                    <span class="m-b-15 d-block">A tutorial on how to spying on someone like a professional hacker.</span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">May 10, 2018 by <a href="#">Kevin Nguyen</a></span> 
                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
                <div class="p-2"><img src="https://images-na.ssl-images-amazon.com/images/I/610EksXe52L._SX355_.jpg" alt="user" width="50" class="rounded-circle"></div>
                <div class="comment-text w-100">
                    <h6 class="font-medium">How to attack your friend's computer with rubber ducky</h6>
                    <span class="m-b-15 d-block">Rubber ducky is the best hacking USB, *no comment* </span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">August 1, 2018 by <a href="#">Kevin Nguyen</a></span> 
                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
                <div class="p-2"><img src="https://www.bossbride.com/wp-content/uploads/2011/12/computer-love.jpg" alt="user" width="50" class="rounded-circle"></div>
                <div class="comment-text w-100">
                    <h6 class="font-medium">How to send love to your friend's computer without notice.</h6>
                    <span class="m-b-15 d-block">Undetectable is the best way to describe your love to someone and use it like a pro hacker ;) </span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">August 1, 2018 by <a href="#">Will Duggan</a></span> 
                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
                <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
                <div class="p-2"><img src="https://fossbytes.com/wp-content/uploads/2017/11/kali-linux-2017.3.jpg" alt="user" width="50" class="rounded-circle"></div>
                <div class="comment-text w-100">
                    <h6 class="font-medium">New Kali linux are ready for every members to use</h6>
                    <span class="m-b-15 d-block">Learn easier with your own hacking laptop!! </span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">August 1, 2018 by <a href="#">Will Duggan</a></span> 
                        <button type="button" class="btn btn-cyan btn-sm">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- EVENTS -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title m-b-0">Events <a class="float-right btn btn-outline-primary" href="#!"><i class="mdi mdi-plus"></i> add</a></h5>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Creator</th>
                            <th scope="col">Track</th>
                            <th scope="col">Begin at</th>
                            <th scope="col">End at</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Hour coding</td>
                            <td>Mohsin</td>
                            <td>All</td>
                            <td>7/20/2018</td>
                            <td>7/20/2018</td>
                        </tr>
                        <tr>
                            <td>Hacking laptop for every one</td>
                            <td>Will Duggan</td>
                            <td>Cyber Security</td>
                            <td>7/21/2018</td>
                            <td>7/22/2018</td>
                        </tr>
                        <tr>
                            <td>Testing out new robot</td>
                            <td>Jack Williams</td>
                            <td>Hardware</td>
                            <td>7/22/2018</td>
                            <td>7/22/2018</td>
                        </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <!-- OFFICERS -->
            <div class="card scrollable" style="height:305px;">
                <div class="card-body">
                    <h5 class="card-title m-b-0">Officers</h5>
                </div>
                <table class="table " >
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font-weight-bold"><img src="{{ url_for('.static', filename='img/user.jpg') }}" alt="user" width="40" class="rounded-circle mr-2">Will Duggan</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"><img src="{{ url_for('.static', filename='img/user.jpg') }}" alt="user" width="40" class="rounded-circle mr-2">Kevin Nguyen</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title m-b-0">Members</h5>
        </div>
        <table class="table table-hover scrollable" style="height: 239px">
              <thead>
                <tr>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Homeroom</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Br472</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Br472</td>
                </tr>
                <tr>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>Br472</td>
                </tr>
              </tbody>
        </table>
    </div>
{% endblock %}
{% block plugins %}
    {{super()}}
    <script src="{{ url_for('.static', filename='vendor/sparkline.js') }}"></script>
    <script src="{{ url_for('.static', filename='vendor/jquery.peity.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='vendor/matrix.interface.js') }}"></script>
{% endblock %}