{% extends "admin/base.html" %}

{% block title %}
Forget password Request
{% endblock %}

{% block content %}
    {{super()}}
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div class="text-center">
                <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" method="POST" action="{{url_for('.reset')}}">
                    {{form.hidden_tag()}}
                    <!-- email -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                        </div>
                        {{ form.email(class_="form-control form-control-lg", placeholder="Email Address", required="required") }}
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20 p-t-20 border-top border-secondary">
                        <div class="col-12">
                            <a class="btn btn-success" href="{{ url_for('admin.login') }}" id="to-login" name="action">Back To Login</a>
                            <button class="btn btn-info float-right" type="submit" >Recover</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block plugins %}
    {{super()}}
    <script>
      $('[data-toggle="tooltip"]').tooltip();
      $(".preloader").fadeOut();
    </script>

{% endblock %}
