{% extends "admin/base.html" %}

{% block title %}
Forget password Request
{% endblock %}

{% block content %}
    {{super()}}
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
            <div class="text-center">
                <span class="text-white">Enter your new password below to finish.</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12" method="POST" action="{{url_for('.reset_password', token=token)}}">
                    {{form.hidden_tag()}}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                        </div>
                        {% if form.password.errors%}
                            {{form.password(class_="form-control form-control-lg is-invalid", placeholder="***", required="required", type="password")}}
                            {% for error in form.password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            {{form.password(class_="form-control form-control-lg", placeholder="***", required="required")}}
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                        </div>
                        {% if form.confirm.errors%}
                            {{form.confirm(class_="form-control form-control-lg is-invalid", placeholder="re-enter password", required="required", type="password")}}
                            {% for error in form.confirm.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            {{form.confirm(class_="form-control form-control-lg", placeholder="re-enter password", required="required")}}
                        {% endif %}
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20 p-t-20 border-top border-secondary">
                        <div class="col-12">
                            <button class="btn btn-info float-right" type="submit" >Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block plugins %}
    {{super()}}
    <script>
      $('[data-toggle="tooltip"]').tooltip();
      $(".preloader").fadeOut();
    </script>

{% endblock %}